@mixin breakpoint($value) {
    @media (min-width: $value) {
        @content
    }
};

@mixin button($color) {
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    color: $color;
    font-weight: bold;
    border-radius: 0.25em;
    border: 0.125rem solid $color;
    transition: .3s all;

    &:not(:last-child) {
        margin-right: .5rem;
    }

    &:hover, &:focus, &:active {
        background: $color;
        color: $color-white;
        transform: scale(.95);
    }
}