$color-primary: #5E6CD2;
$color-primary-1: #B2B9F2;
$color-primary-2: #828EE3;
$color-primary-3: #404FC0;
$color-primary-4: #2031AF;

$color-secondary: #C14D63;

$color-accent: #FFB45D;

$s1: #ededf1;
$s2: #d1d2db;
$s3: #c2c3cf;
$s4: #b0b2c2;
$s5: #9c9fb2;
$s6: #85889e;
$s7: #696b7c;
$s8: #3d3f49;

$color-white: #fbfbfb;
$color-black: #2b2b2b;

$content-width: 62.5rem;