.top-header {
    background: $color-primary;

    &__greeting {
        max-width: $content-width;
        margin: 0 auto;
        padding: 0 1.25rem;
        color: $color-white;
        text-align: center;

        @include breakpoint(700px) {
            text-align: initial;
        }
    }

    &__name {
        display: inline-block;
    }
}

.section-about {
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;

    &__content {
        display: flex;
        flex-wrap: wrap;
        max-width: $content-width;
        margin: 0 auto;

        p {
            margin-bottom: 1em;

            &:last-of-type {
                padding-bottom: 1em;
            }
        }
    }

    &__photo {
        display: inline-block;
        width: 15.625rem;
        height: 15.625rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

    }


    &__icons {
        display: flex;
        align-items: center;
        margin-top: 1em;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5em;
        border-radius: 50%;
        fill: $color-secondary;
        border: 0.125rem solid $color-secondary;
        transition: .3s all;
        
        &:not(:last-child) {
            margin-right: .5em;
        }

        &:hover {
            fill: $color-white;
            background: $color-secondary;
        }
    }
}

.section-projects {
    padding: 3.75rem 0;
    background: $s1;
    
    &__header {
        text-align: center;
        font-size: 3rem;
        margin-bottom: .5em;
    }

    &__content {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 1.25rem;
        max-width: $content-width;
        margin: 0 auto;
        padding: 0 1.25rem;

        @include breakpoint(700px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    
        @include breakpoint(1100px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));    
        }
    }
}

.footer {
    background: $s5;

    &__copyright {
        max-width: $content-width;
        margin: 0 auto;
        padding: .75em 1.25em .75em 1.25em;
        font-size: 0.875rem;
    }
}